# Dependency directories
node_modules/
dist
*.log

# TypeScript v1 declaration files
typings/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
.eslintcache
yarn.lock
yarn-error.log

接口信息.md
dataBase.json
myMsg.json
server.js
test.js
toolDataBase.js
toolUsers.js
users.json
workLog.txt
allWork.json