.base-data-list{
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 50%;
    // 列表样式
    .list{
        margin-top: 20px;
        width: 70%;
        margin-bottom: 50px;
        .delete-btn{
            float:right;
            position: relative;
            top: -6px;
        }
        .add-btn{
            margin-left: 10px;
        }
    }
    // 返回首页样式
    .switch-btn{
        position: absolute;
        top: 50px;
        right: -150px;
    }

    // 删除全部boss的btn样式
    .clear-boss-btn{
        position: absolute;
        right: -40px;
        top: 54px;
    }
}
@media screen and (max-width:450px){
    .base-data-list{
        width: 90%;
        .clear-boss-btn{
            position: static;
            margin-top: 18px;
        }
        .list{
            .add-btn{
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}