.base-data-list {
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.base-data-list .list {
  margin-top: 20px;
  width: 70%;
  margin-bottom: 50px;
}
.base-data-list .list .delete-btn {
  float: right;
}
.base-data-list .list .add-btn {
  margin-left: 10px;
}
.base-data-list .switch-btn {
  position: absolute;
  top: 50px;
  right: -150px;
}
.base-data-list .clear-boss-btn {
  position: absolute;
  right: -20px;
  top: 54px;
}
