.base-data-list {
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.base-data-list .list {
  margin-top: 20px;
  width: 70%;
  margin-bottom: 50px;
}
.base-data-list .list .delete-btn {
  float: right;
  position: relative;
  top: -6px;
}
.base-data-list .list .add-btn {
  margin-left: 10px;
}
.base-data-list .switch-btn {
  position: absolute;
  top: 50px;
  right: -150px;
}
.base-data-list .clear-boss-btn {
  position: absolute;
  right: -40px;
  top: 54px;
}
@media screen and (max-width: 450px) {
  .base-data-list {
    width: 90%;
  }
  .base-data-list .clear-boss-btn {
    position: static;
    margin-top: 18px;
  }
  .base-data-list .list .add-btn {
    margin-left: 0;
    margin-top: 10px;
  }
}
