.work-list {
  margin: 30px auto;
  width: 60%;
}
.work-list .work-item-header {
  display: flex;
  justify-content: space-around;
}
.work-list .work-item-header .bossName {
  width: 20%;
}
.work-list .work-item-header .characterList {
  width: 40%;
}
.work-list .work-item-header .damage {
  width: 20%;
}
.work-list .managerBtn {
  width: 30%;
  float: right;
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
}
.select-header {
  margin: 0 auto;
  width: 60%;
}
