.work-list-page{
    height: 100%;
    padding-top: 1px;
    .backguound{
        width: 100%;
        height: 100%;
        background: url('../../static/index-background.png');
        background-size: cover;
        position: fixed;
        z-index: -1;
    }
    .content-wrap{
        margin: 40px auto;
        width: 60%;
        border-radius: 24px;
        background: rgba(255, 255, 255, .7);
        padding: 30px 0;
        .work-list{
            margin: 30px auto;
            width: 80%;
            .work-item-header{
                display: flex;
                justify-content: space-around ;
                .bossName{
                    width: 20%;
                }
                .characterList{
                    width: 40%;
                }
                .damage{
                    width: 20%;
                }
            }
            .textMsg{
                display: block;
                margin-bottom: 10px;
                background: white;
                color: rgba(0, 0, 0, 0.65);
                resize: none;
                & + .managerBtn{
                    float: none;
                }
            }
            .remark{
                label{
                    display: block;
                    margin: 10px 0;
                }
                textarea{
                    background: white;
                    color: rgba(0, 0, 0, 0.65);
                    resize: none;
                }
            }
            .managerBtn{
                // display: inline-block;
                width: 32%;
                float: right;
                // margin-top: -5px;
                display: flex;
                justify-content: space-between;
            }
        }
        .select-header{
            margin: 0 auto;
            width: 60%;
        }
    }
}
@media screen and (max-width: 450px) {
    .work-list-page{
        .content-wrap{
            width: 90%;
            .work-list{
                .managerBtn{
                    margin-top: 20px;
                    display: flex;
                    float: none;
                    .btn-left{
                        margin-right: 25%;
                    }
                }
            }
        }
    }
}