.work-list{
    margin: 50px auto;
    width: 60%;
    .work-item{
        display: flex;
        justify-content: space-around ;
        .bossName{}
        .characterList{}
        .damage{}
    }
}