@media screen and (max-width: 450px) {
  .DropDownMenu {
    display: none;
  }
}
.DropDownMenu {
  position: absolute;
  top: 70px;
  left: 50px;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
}
.DropDownMenu .username {
  display: inline-block;
  margin-right: 20px;
}
